*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px, 10px;
  background: #5D0D0A;
  overflow-y: auto;
}
.container {
  max-width: 1000px;
  margin-top: 10px;
  width: 100%;
  background-color: #fff;
  padding: 2px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.container .logo img {
  height: 100px;
  width: 100px;
}
.container .logo .dmv {
  font-size: 20px;
  font-weight: 600;
  margin-left: 45px;
  position: relative;
}
.container .logo .dmv::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 365px;
  border-radius: 10px;
  background: #5D0D0A;
  bottom: -8px;
  left: 0;
}
.container .title {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  margin-bottom: 15px;
  text-align: left;
}
.container .title::before {
  content: "";
  position:absolute;
  align-self: center;
  left: 4%;
  margin-top: 5px;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 50px;
  border-radius: 5px;
  background: #5D0D0A;
}
.container .subtitle{
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  margin-bottom: 15px;
  gap: 20px;
}
form .user-details .input-box {
  flex: 1 1 calc(50% - 15px);
  display: flex;
  flex-direction: column;
}
form .input-box span.details {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 10px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color:  #997454;
}
form .button {
  width: 100%;
  height: 45px;
  margin-top: 25px;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(135deg,#5D0D0A, #F3E65D);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.3s ease;
}
form .button input:hover {
  background-position: right;
}
/* Responsive */
@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    flex: 1 1 100%;
  }
  form .category {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}